[submodule "contracts/solidity_contract/lib/forge-std"]
	path = contracts/solidity_contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/solidity_contract/lib/openzeppelin-contracts"]
	path = contracts/solidity_contract/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
